@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "Signuppage.css";
@import "News.css";
@import "Topnav.css";
@import "Main.css";
@import "NewTopic.css";
@import "Topic.css";
@import "Posts.css";
@import "Post.css";

.loginpage {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
