.db-view {
    max-width: 1200px;
    margin: 0 auto;
}

.db-table {
    padding: 1rem;
}

.topics-header {
    display: flex;
    justify-content: space-between;
    color: #202124;
    font-weight: 500;
    font-size: 38px;
    margin-bottom: 10px;
    padding: 0 12px;
}

.topics {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 21px;
}

.topic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 14px 12px 16px;
    margin-bottom: 10px;
}

.topic:hover {
    background: #e6f4ea;
    border-radius: 20px;
}

.topic-href {
    text-decoration: none;
    cursor: pointer;
    color: #202124;
    font-size: 23px;
}

.topic-href:hover {
    text-decoration: underline;
}

.new-topic {
    position: sticky;
    top: 20px;
    right: 10px;
    float: right;
}

.new-topic-button {
    background-color: #c2fbd7;
    width: 125px;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.new-topic-button:hover {
    box-shadow: rgba(44, 187, 99, .35) 0 -25px 18px -14px inset, rgba(44, 187, 99, .25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}


.delete-but{
    float: right;
    margin-left: 10px;
}
.delete-but:hover{
    cursor: pointer;
}
.delete-but:active{
    color: red;
}
