.db-view {
    max-width: 1200px;
    margin: 0 auto;
}

.db-table {
    padding: 1rem;
}

.topics-header {
    display: flex;
    justify-content: space-between;
    color: #202124;
    font-weight: 500;
    font-size: 38px;
    margin-bottom: 10px;
    padding: 0 12px;
}

.topics {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 21px;
}

.topic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 14px 12px 16px;
    margin-bottom: 10px;
}

.topic:hover {
    background: #e6f4ea;
    border-radius: 20px;
}

.topic-href {
    text-decoration: none;
    cursor: pointer;
    color: #202124;
    font-size: 23px;
}

.topic-href:hover {
    text-decoration: underline;
}
