.topic-page-posts {

}
.topic-page-posts-new {
    margin: 0 20px -20px;
}
#topic-page-posts-new-text {
    resize: none;
    height: auto;
    width: 100%;
    background: rgba(161, 255, 161, 0.44);
    border: 2px solid green;
    border-radius: 10px;
    margin: 0;
    padding: 10px 10px 30px;
}
.topic-page-posts-button{
    position: relative;
    left: 95%;
    top: -35px;
    background: none;
    border: none;
}
.topic-page-posts-button:hover {
    cursor: pointer;
}
.topic-page-posts-button:active{
    color: cornflowerblue;
}